@use 'sass:math';

/*
==========================================================================
  Syntax highlighting
==========================================================================
*/

/* syntax highlighting (base16) */
$BG: #282a36 !default;
$COMMENT: #6272a4 !default;
$FG: #f8f8f2 !default;
$ORANGE: #ffb86c !default;
$YELLOW: #f1fa8c !default;
$GREEN: #50fa7b !default;
$CYAN: #8be9fd !default;
$PURPLE: #bd93f9 !default;
$PINK: #ff79c6 !default;
$RED: #ff5555 !default;

div.highlighter-rouge,
figure.highlight {
  position: relative;
  margin-bottom: 1em;
  background: $BG;
  color: $FG;
  font-family: $base-font-family;
  font-size: 14px;
  line-height: 1.4;
  border-radius: 3px;

  > pre,
  pre.highlight {
    margin: 0;
    padding: 1em;
  }
}

.highlight table {
  margin-bottom: 0;
  font-size: 1em;
  border: 0;

  td {
    padding: 0;
    width: calc(100% - 1em);
    border: 0;

    /* line numbers*/
    &.gutter,
    &.rouge-gutter {
      padding-right: 1em;
      width: 1em;
      color: $COMMENT;
      border-right: 1px solid $COMMENT;
      text-align: right;
    }

    /* code */
    &.code,
    &.rouge-code {
      padding-left: 1em;
    }
  }

  pre {
    margin: 0;
  }
}

/** Custom Code Format */
pre {
  background: $BG;
  color: $FG;
  overflow-x: auto;
  padding: 1em;

  & > .language-plain {
    @include relative-font-size(0.9);
    line-height: $base-line-height * 0.9;
    border-radius: 3px;
    margin: math.div($spacing-unit, 2) 0;
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

code.language-plaintext {
  background: $BG;
  color: $FG;
  overflow-x: auto;
  line-height: $base-line-height * 0.85;
  @include relative-font-size(0.85);
  border-radius: 3px;
  padding: 2px 5px;
}

.highlight pre {
  overflow-x: auto;
}

.highlight .hll {
  background-color: $FG;
}
.highlight {
  .c {
    /* Comment */
    color: $COMMENT;
  }
  .err {
    /* Error */
    color: $RED;
  }
  .k {
    /* Keyword */
    color: $PINK;
  }
  .l {
    /* Literal */
    color: $ORANGE;
  }
  .n {
    /* Name */
    color: $FG;
  }
  .o {
    /* Operator */
    color: $CYAN;
  }
  .p {
    /* Punctuation */
    color: $FG;
  }
  .cm {
    /* Comment.Multiline */
    color: $COMMENT;
  }
  .cp {
    /* Comment.Preproc */
    color: $COMMENT;
  }
  .c1 {
    /* Comment.Single */
    color: $COMMENT;
  }
  .cs {
    /* Comment.Special */
    color: $COMMENT;
  }
  .gd {
    /* Generic.Deleted */
    color: $RED;
  }
  .ge {
    /* Generic.Emph */
    font-style: italic;
  }
  .gh {
    /* Generic.Heading */
    color: $FG;
    font-weight: bold;
  }
  .gi {
    /* Generic.Inserted */
    color: $GREEN;
  }
  .gp {
    /* Generic.Prompt */
    color: $COMMENT;
    font-weight: bold;
  }
  .gs {
    /* Generic.Strong */
    font-weight: bold;
  }
  .gu {
    /* Generic.Subheading */
    color: $CYAN;
    font-weight: bold;
  }
  .kc {
    /* Keyword.Constant */
    color: $PINK;
  }
  .kd {
    /* Keyword.Declaration */
    color: $PINK;
  }
  .kn {
    /* Keyword.Namespace */
    color: $CYAN;
  }
  .kp {
    /* Keyword.Pseudo */
    color: $PINK;
  }
  .kr {
    /* Keyword.Reserved */
    color: $PINK;
  }
  .kt {
    /* Keyword.Type */
    color: $YELLOW;
  }
  .ld {
    /* Literal.Date */
    color: $GREEN;
  }
  .m {
    /* Literal.Number */
    color: $ORANGE;
  }
  .s {
    /* Literal.String */
    color: $GREEN;
  }
  .na {
    /* Name.Attribute */
    color: $PURPLE;
  }
  .nb {
    /* Name.Builtin */
    color: $FG;
  }
  .nc {
    /* Name.Class */
    color: $YELLOW;
  }
  .no {
    /* Name.Constant */
    color: $RED;
  }
  .nd {
    /* Name.Decorator */
    color: $CYAN;
  }
  .ni {
    /* Name.Entity */
    color: $FG;
  }
  .ne {
    /* Name.Exception */
    color: $RED;
  }
  .nf {
    /* Name.Function */
    color: $PURPLE;
  }
  .nl {
    /* Name.Label */
    color: $FG;
  }
  .nn {
    /* Name.Namespace */
    color: $YELLOW;
  }
  .nx {
    /* Name.Other */
    color: $PURPLE;
  }
  .py {
    /* Name.Property */
    color: $FG;
  }
  .nt {
    /* Name.Tag */
    color: $CYAN;
  }
  .nv {
    /* Name.Variable */
    color: $RED;
  }
  .ow {
    /* Operator.Word */
    color: $CYAN;
  }
  .w {
    /* Text.Whitespace */
    color: $FG;
  }
  .mf {
    /* Literal.Number.Float */
    color: $ORANGE;
  }
  .mh {
    /* Literal.Number.Hex */
    color: $ORANGE;
  }
  .mi {
    /* Literal.Number.Integer */
    color: $ORANGE;
  }
  .mo {
    /* Literal.Number.Oct */
    color: $ORANGE;
  }
  .sb {
    /* Literal.String.Backtick */
    color: $GREEN;
  }
  .sc {
    /* Literal.String.Char */
    color: $FG;
  }
  .sd {
    /* Literal.String.Doc */
    color: $COMMENT;
  }
  .s2 {
    /* Literal.String.Double */
    color: $GREEN;
  }
  .se {
    /* Literal.String.Escape */
    color: $ORANGE;
  }
  .sh {
    /* Literal.String.Heredoc */
    color: $GREEN;
  }
  .si {
    /* Literal.String.Interpol */
    color: $ORANGE;
  }
  .sx {
    /* Literal.String.Other */
    color: $GREEN;
  }
  .sr {
    /* Literal.String.Regex */
    color: $GREEN;
  }
  .s1 {
    /* Literal.String.Single */
    color: $GREEN;
  }
  .ss {
    /* Literal.String.Symbol */
    color: $GREEN;
  }
  .bp {
    /* Name.Builtin.Pseudo */
    color: $FG;
  }
  .vc {
    /* Name.Variable.Class */
    color: $RED;
  }
  .vg {
    /* Name.Variable.Global */
    color: $RED;
  }
  .vi {
    /* Name.Variable.Instance */
    color: $RED;
  }
  .il {
    /* Literal.Number.Integer.Long */
    color: $ORANGE;
  }
}

.gist {
  th,
  td {
    border-bottom: 0;
  }
}
